body { background: #73d285; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 19px; display: flex; }
.block-uploader-0 { color: #37d5cd; font-size: 13px; margin-bottom: 5px; }
.block-notify-1 { color: #a51d19; font-size: 14px; margin-bottom: 5px; }
.block-metrics-2 { color: #3338b3; font-size: 14px; margin-bottom: 5px; }
.block-database-3 { color: #7018ca; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #d375af; font-size: 15px; margin-bottom: 5px; }
.block-router-5 { color: #b485fa; font-size: 19px; margin-bottom: 5px; }
.block-user-6 { color: #8b6442; font-size: 12px; margin-bottom: 5px; }
.block-filter-7 { color: #1cecf; font-size: 18px; margin-bottom: 5px; }
.block-notify-8 { color: #c1e3a; font-size: 14px; margin-bottom: 5px; }
.block-config-9 { color: #3c8f0b; font-size: 12px; margin-bottom: 5px; }